/*styles.css*/
* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #141414;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

canvas {
    cursor: grab;
}

canvas:active {
    cursor: grabbing;
}

.copy {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    text-align: center;
    color: white;

    padding: 16px;
}

a {
    font-style: italic;
    color: #96ceb4;
}
